﻿@model IEnumerable<WebNuocHoa.Models.category>
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Trang chủ</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <!-- Danh muc-->
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("Index","Home", new { id = item.catid})">@Html.DisplayFor(modelItem => item.catname)</a></li>
                }
                <!-- Danh muc-->
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>


