﻿@model IEnumerable<WebNuocHoa.Models.account>

@{
    ViewBag.Title = "Index";
}

<h2>Tài khoản</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            username
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
           Số điện thoại
        </th>
        <th>
            mật khẩu
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
       
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
